.navbar {
  background-color: #364F7C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 35px;
  font-weight: bold;
  color: #FFFFFF;
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.btn-login,
.btn-register {
  background-color: #6786BE;
  color: #FFFFFF;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover,
.btn-register:hover {
  background-color: #769FCD;
  transform: translateY(-2px);
}
